.song-playlist {
  width: calc(100vw * 4 / 5);
  display: flex;
  padding-top: 45px;
  margin-left: calc(100vw / 5);
  display: flex;
  flex-direction: column; }
  .song-playlist .song-playlist-header {
    width: 100%;
    height: 320px;
    padding: 12px 32px;
    min-height: 240px;
    display: flex;
    align-items: center; }
    .song-playlist .song-playlist-header .song-playlist-icon {
      position: absolute;
      top: 16px;
      left: 32px;
      font-size: 32px;
      color: #000;
      cursor: pointer; }
    .song-playlist .song-playlist-header .song-playlist-info {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .song-playlist .song-playlist-header .song-playlist-info i {
        font-size: 1.2rem;
        padding: 0.2rem 0.5rem; }
      .song-playlist .song-playlist-header .song-playlist-info h3 {
        font-size: 72px;
        color: #000;
        margin: 0; }
      .song-playlist .song-playlist-header .song-playlist-info span {
        display: flex;
        align-items: center; }
    .song-playlist .song-playlist-header img {
      position: absolute;
      bottom: 24px;
      right: 32px;
      height: 80%;
      width: auto; }
  .song-playlist .song-playlist-body {
    background: linear-gradient(117deg, #fffe, rgba(246, 234, 234, 0.933) 102%);
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    width: 100%; }
  .song-playlist .song-playlist-container {
    margin: 0 24px;
    flex-shrink: 1;
    flex-direction: column;
    margin-bottom: 5rem; }
  .song-playlist .song-playlist-list {
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    justify-content: flex-start;
    will-change: scroll-position;
    height: 100%;
    width: 100%;
    margin-top: 3rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-wrap: break-word; }
    .song-playlist .song-playlist-list tr {
      border: 1px solid black;
      height: 3rem; }
    .song-playlist .song-playlist-list th {
      min-width: 100px;
      max-width: 200px;
      text-align: center;
      font-size: 1rem;
      overflow-wrap: break-word; }
  .song-playlist .song-playlist-item img {
    font-size: 1rem;
    width: 50%;
    margin: auto;
    align-items: center;
    padding: 0.5rem 0; }
  .song-playlist .song-playlist-item td {
    min-width: 100px;
    max-width: 200px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 1rem; }
    .song-playlist .song-playlist-item td i {
      padding: 0.4rem;
      cursor: pointer; }
