@import '../../common/config.scss';

.song-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  width: calc(100vw / 5);
  height: 100vh;
  z-index: 2;
  user-select: none;

  @media only screen and (min-width: 740px) and (max-width: 1023px) {
    width: calc(100vw / 4);
  }
  @media only screen and (max-width: 739px) {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
  }
  .official-logo {
    width: 100%;
    display: flex;
    height: 4.5rem;

    @media only screen and (max-width: 739px) {
      display: none;
    }

    img {
      height: 3rem;
      margin: auto 0;
      padding: 0 4px;
    }
    h3 {
      font-size: 1.5rem;
      line-height: normal;
      color: var(--text-color);
      margin: auto 0;
      padding: 0 0.5rem;
    }
  }
}

.song-nav-header {
  width: 100%;
  background-color: var(--dark-color);
  @media only screen and (max-width: 739px) {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.song-nav-item {
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: var(--dark-color);
  padding: 0.6rem 0;
  color: var(--text-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  border-left: 3px solid var(--dark-color);

  @media only screen and (max-width: 739px) {
    border: none;
    border-top: 3px solid var(--dark-color);
    padding: 0;
    flex-direction: column;
    text-align: center;
  }

  &.active {
    background-color: #ffffff1a;
    border-left: 3px solid #ed2b91;

    @media only screen and (max-width: 739px) {
      border: none;
      border-top: 3px solid #ed2b91;
    }
  }

  i {
    float: left;
    margin-left: 10%;
    font-size: 1rem;
    @media only screen and (max-width: 739px) {
      margin-left: 0;
      font-size: 26px;
      padding: 2% 0 2% 0;
    }
  }

  .song-nav-name {
    float: left;
    margin-left: 5%;
    font-size: 0.75rem;

    @media only screen and (max-width: 739px) {
      margin-left: 0;
      font-size: 10px;
      padding: 0;
    }

    &:hover {
      opacity: 0.8;
      transition: all 0.1s ease;
    }
  }
  .song-nav-description {
    float: left;
    font-size: 0.6rem;
    font-weight: 300;
    padding: 2px 4px;
    background-color: red;
    margin-left: 5%;
    border-radius: 4px;

    @media only screen and (max-width: 739px) {
      display: none;
    }
  }
}
.song-nav-body {
  width: 100%;
  background-color: var(--dark-color);
  margin-top: 0.75rem;
  height: 30%;
  flex-shrink: 1;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  justify-content: flex-start;
  will-change: scroll-position;

  @media only screen and (max-width: 739px) {
    display: none;
  }
  .song-nav-line {
    margin: 0.5rem auto;
    height: 1px;
    width: 80%;
    background-color: rgb(192, 192, 192);
  }

  .song-nav-library {
    margin: 0.5rem 10%;
    margin-top: 2rem;
    color: var(--text-color);

    input {
      background-color: transparent;
      border: none;
      &:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    button {
      background-color: var(--text-change);
      color: var(--text-color);
      border: none;
      border-color: var(--text-color);
      border-radius: 4px;
      cursor: pointer;
      font-weight: 600;
    }
    .library-item {
      padding: 0 1rem;
      .ant-form-item-control-input-content {
        display: flex;
        align-items: center;
        // justify-content: center;
      }
    }
    .library-name {
      margin: 0;
      input {
        color: var(--text-color);
      }
      i {
        font-size: 1rem;
        color: var(--text-color);
        margin-right: 4px;
      }
    }
    .library-remove {
      font-size: 1rem;
      color: var(--text-color);
      cursor: pointer;
      margin: 0 4px;
    }
    .library-setting {
      position: relative;
      font-size: 1rem;
      color: var(--text-color);
      cursor: pointer;
      margin: 0 4px;
    }
    .library-select {
      display: none;
      position: absolute;
      background-color: #fff;
      top: calc(100% + 10px);
      right: 0;
      z-index: 1;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        margin: 0;
      }
      li {
        font-size: 0.85rem;
        font-weight: 500;
        color: #000;
        padding: 0.3rem 0.6rem;
        font-style: initial;
      }

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }

      &.active {
        display: block;
      }
    }

    // width: 100%;
  }
  //   .song-nav-notice {
  //     background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
  //     margin: 0.5rem 10%;
  //     padding: 1rem 0.75rem;
  //     border-radius: 6px;

  //     p {
  //       color: var(--text-color);
  //       font-size: 0.75rem;
  //       font-weight: 600;
  //       text-align: center;
  //     }
  //     button {
  //       background-color: #f8e71c;
  //       display: flex;
  //       padding: 0.4rem 2rem;
  //       margin: 0.5rem auto;
  //       border: none;
  //       border-radius: 40px;
  //       font-size: $font-text;
  //       font-weight: 600;
  //       cursor: pointer;
  //     }
  //   }
  //   .song-nav-library {
  //     margin-top: 1.5rem;
  //     margin-bottom: 2rem;
  //   }
  //   .song-nav-library-frame {
  //     width: 100%;
  //     border: none;
  //     background-color: var(--dark-color);
  //     padding: 0.6rem 0;
  //     color: var(--text-color);
  //     font-weight: 600;
  //     display: flex;
  //     align-items: center;
  //     border-left: 3px solid var(--dark-color);

  //     h3 {
  //       font-size: $font-text;
  //       float: left;
  //       margin-left: 8%;
  //     }
  //     i {
  //       font-size: $font-text;
  //       float: right;
  //       margin-left: 50%;
  //       cursor: pointer;

  //       &:hover {
  //         opacity: 0.8;
  //       }
  //     }
  //   }

  //   .song-nav-library-item {
  //     width: 100%;
  //     border: none;
  //     cursor: pointer;
  //     background-color: var(--dark-color);
  //     padding: 0.4rem 0;
  //     color: var(--text-color);
  //     font-weight: 600;
  //     display: flex;
  //     align-items: center;
  //     border-left: 3px solid var(--dark-color);

  //     svg {
  //       float: left;
  //       margin-left: 10%;
  //     }

  //     span {
  //       float: left;
  //       margin-left: 5%;
  //       font-size: 0.75rem;
  //     }
  //   }
  // }

  // .song-nav-create {
  //   width: 100%;
  //   border: none;
  //   cursor: pointer;
  //   background-color: var(--dark-color);
  //   padding: 0.6rem 0;
  //   color: var(--text-color);
  //   font-weight: 600;
  //   display: flex;
  //   align-items: center;
  //   border-left: 3px solid var(--dark-color);
  //   border-top: 1px solid rgb(192, 192, 192);
  //   border-bottom: 1px solid rgb(192, 192, 192);

  //   @media only screen and (max-width: 739px) {
  //     display: none;
  //   }

  //   i {
  //     float: left;
  //     margin-left: 10%;
  //     font-size: 1.25rem;
  //   }
  //   span {
  //     float: left;
  //     margin-left: 5%;
  //     font-size: $font-text;
  //   }
}
