#song-edit {
  width: calc(100vw * 4 / 5);
  min-height: 100vh;
  display: flex;
  padding-top: 46px;
  margin-left: calc(100vw / 5);
  display: flex;
  flex-direction: column;
  background: $music-color;
  align-items: center;

  .song-edit-header {
    width: 100%;
    padding: 0 3rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;

    .song-edit-behavior {
      i {
        font-size: 2rem;
        color: #000;
        padding: 4px;
        cursor: pointer;
      }
    }
  }

  .song-edit-body {
    margin: 0 24px;
    background-size: cover;
    object-fit: cover;
    width: 100%;
  }

  .song-container {
    flex-shrink: 1;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .song-edit-tail {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
      background-color: #fff;
    }
    i {
      font-size: 1.2rem;
    }
  }
}
